<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.TranslucentDecor"
        android:name=".MapApplication"
        >
        <activity android:name="org.tmar.tmap.activity.FileMapActivity"
            android:label="@string/offlineMapName"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="application/octet-stream" android:host="*"  android:pathPattern=".*\\.gpx"/>
            </intent-filter>
            <meta-data android:name="prefsName" android:value="maps.offline"/>
        </activity>
        <activity android:name=".activity.SettingsActivity"
            android:label="@string/activitySettings"
            android:theme="@style/Theme.AppCompat.Light"
            >
        </activity>
        <activity android:name=".activity.DocumentActivity"
            android:label="@string/activityDocuments"
            android:theme="@style/Theme.AppCompat.Light"
            >
        </activity>
        <activity android:name=".activity.MapsActivity"
            android:label="@string/activityMaps"
            android:theme="@style/Theme.AppCompat.Light"
            >
        </activity>
    </application>

</manifest>